@import "tailwindcss";
@theme {
    --font-sans: "Inter", "sans-serif";
}

@layer base {
    button, a {
        @apply cursor-pointer;
    }
}

@layer base {
    html {
        scroll-behavior: smooth;
    }

    * {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}
